body {
    font-family: "Baloo 2", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
/* Header Styles */
header {
    background-color: #ff7fa1;
    padding: 10px 20px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
  
  .question-section {
    max-width: 70%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  .question-header {
    text-align: center;
    padding: 20px;
  }
  
  h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .question-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two buttons per row */
    gap: 20px; /* Space between buttons */
    justify-content: center; /* Center the buttons horizontally */
    margin-top: 20px;
  }
  
  .answer-btn {
    padding: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 400px;
    background-size:cover ;
    background-position: center;
    transition: transform 0.3s ease;
    background-color: white;
    border: 3px solid pink;
  }
  
  .answer-btn:hover {
    transform: scale(1.05);
  }
  
  .result-container {
    text-align: center;
  }
  
  .result-container h3 {
    color: #ff7fa1;
    font-size: 2em;
  }
  
  .result-container p {
    color: #ff7fa1;
    font-size: 1.5em;
  }
  
  .list-group {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .list-group-item {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
  }
  
  .correct {
    background-color: #d4edda;
  }
  
  .incorrect {
    background-color: #f8d7da;
  }
  
  .nav-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
  }
  
  .nav-btn {
    padding: 10px 20px;
    background-color: #ff7fa1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
  }
  
  /* Footer Styles */
  footer {
    background-color: #ff7fa1;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  
  footer a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }  